@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan gaya global jika diperlukan */
body {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
#about {
  scroll-margin-top: 80px;
}