@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan gaya global jika diperlukan */
body {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* Jika ingin hanya untuk section About */
#about {
  scroll-margin-top: 120px; /* Ganti 120px sesuai tinggi navbar kamu */
}

/* Jika ingin semua section */
section {
  scroll-margin-top: 120px; /* Ganti 120px sesuai tinggi navbar kamu */
}